@charset "UTF-8";

body, html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	font-family: '나눔고딕', NanumGothic, '맑은 고딕', Sans-Serif;
}
h1 {
	background-color: #ff3b30;
	margin: 0!important;
	padding: 11px 10px !important;
	font-size: 29px;
}
address>a, h1>a, #insertAction {
	text-decoration: none!important;
	color: #FFFFFF!important;
}
#bodyDiv {
	margin: 0 auto;
	padding: 0;
	width: 800px;
	height: 455px;
	overflow: hidden;
}
#controlArea {
	box-sizing: border-box;
	width: 250px;
	height: 400px;
	overflow: hidden;
	float: left;
}
#map_canvas  {
	box-sizing: border-box;
	overflow: hidden;
	width: 550px;
	height: 400px;
}
#searchArea>ul {
	margin: 15px 0 0 5px;
}
#searchArea>ul>li, li.result_lists {
	list-style: none;
}
#result_list_layer {
	overflow-y: scroll;
	height: 215px;
}
#insertAction {
	box-sizing: border-box;
	display: block;
	height: 124px;
	font-size: 29px;
	text-align: center;
	background-color: #8e8e93;
	border: 5px solid #6a6a6e;
}
#insertAction>span {
	vertical-align: -42px;
}
#insertAction:hover {
	background-color: #474749;
}
.gmnoprint div[title^="Pan"], .gmnoprint div[title~="이동"]  {
	opacity:  0 !important;
}
input[type=text]  {
	width:  150px!important;
}
#view_list {
	margin: 0;
}
li.result_lists>a {
	box-sizing: border-box;
	display: block;
	text-decoration: none;
	width: 100%;
	font-size: 15px;
	height: 31px;
	padding: 5px 10px;
	border-bottom: 1px dotted #8e8e93;
	overflow: hidden;
	direction: rtl;
	text-overflow: ellipsis;
	white-space :  nowrap;
}
#helpDiv {
	display: none;
	position: absolute;
	top: 0;
	margin: 0 auto;
	padding: 0;
	width: 800px;
	height: 455px;
	z-index: 100000;
}
div.xe_mobile {
	display:none !important;
}
@media all and (max-width: 700px) {
	#bodyDiv {
		margin: 0 auto;
		padding: 0;
		width: 100%;
		height: auto;
	}
	#controlArea {
		box-sizing: border-box;
		width: 100%;
		height: 251px;
		overflow: hidden;
		float: left;
	}
	#map_canvas  {
		box-sizing: border-box;
		overflow: visible;
		width: 100%;
		height: 230px;
	}
	#result_list_layer {
		overflow-y: scroll;
		height: 150px;
	}
	#insertAction {
		box-sizing: border-box;
		display: block;
		height: 40px;
		font-size: 15px;
		text-align: center;
		background-color: #8e8e93;
		border: 0;
	}
	#insertAction>span {
		vertical-align: -10px;
	}
	#insertAction:hover {
		background-color: #474749;
	}
	#helpDiv, #helpDiv>a, #helpDiv img{
		display:none!important;
	}
	div.popup {
		max-width: 100%!important;
	}
}